<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Jogo</title>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Epic_Games_logo.svg/882px-Epic_Games_logo.svg.png">
    <link rel="stylesheet" href="/css/addOrUpdate.css">
</head>
<body>
    <div class="container">
        <h1>Cadastro de Jogo</h1>
        <form th:action="@{/game/save}" th:object="${game}" method="post">
            <div class="form-group">
                <label for="name">Nome do Jogo:</label>
                <input type="text" th:field="*{name}">
            </div>
            <div class="form-group">
                <label for="developer">Desenvolvedora:</label>
                <input type="number" th:field="*{developer}">
            </div>
            <div class="form-group">
                <label for="genre">Gênero:</label>
                <input type="number" th:field="*{genre}">
            </div>
            <div class="form-group">
                <label for="ageRange">Faixa Etária:</label>
                <input type="number" th:field="*{ageRange}">
            </div>
            <div class="form-group">
                <label for="release">Data de Lançamento:</label>
                <input type="date" th:field="*{releaseDate}">
            </div>
            <div class="form-group">
                <label for="value">Valor:</label>
                <input type="number" th:field="*{value}">
            </div>
            <div class="form-group">
                <label for="image">Imagem:</label>
                <input type="text" th:field="*{image}">
            </div>
            <div class="form-group">
                <button type="submit">Salvar</button>
            </div>
            <div class="form-group">
                <a class="buttonLink" th:href="@{/game}">Voltar</a>
            </div>
        </form>
        <p th:if="${error != null}" th:text="${error}"></p>
        <br>
    </div>
</body>
</html>
